*{
  color: #000;
  text-align: justify;
  text-shadow: none;
}

body{
  background: none;
  background-color: #fff;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

main img{
  max-width: 80vw;
  display: block;

  border-radius: 6px;
  box-shadow: 1px 1px 5px #000;
}

main a{
  color: #00f;
  text-align: center;
  text-decoration: underline;
}
main a:hover{
  color: #008;
}

p{
  text-indent: 50px;
}