*{
    margin: 0;
    padding: 0;

    font-family: Courier, monospace;
    overflow: hidden;
}

body{
    text-align: center;
    height: 100vh;

    background-image: linear-gradient(0deg, #0d173f, #213da1);
    background-repeat: no-repeat;

    color: #F5BB1B;
    text-shadow: 0 1px 5px #000a;
}

.container{
    margin: 0 auto;
    padding-top: 100px;
    max-width: 80vw;
}

h1{
    
    font-family: 'Great Vibes', serif;
  }
  
.email{
    font-size: 0.85em;
    font-style: italic;

    color: #A87A00;
}



ul{
    padding-top: 30px;
    list-style: none;

    display: flex;
    justify-content: center;
    gap: 20px;
}

ul .active{

    padding: 4px;
    color:#F5BB1B;
    border: 1px solid #fff;
}

#redirectList{
    flex-direction: column;
    gap: 0px;
}

a{
    padding: 5px;
    text-decoration: none;
    color: #F5C236;
}
a:hover{

    color: #A87A00;
}

.dropdown{
    margin-top: 10px;
    padding: 10px;
    background-color: #213da155;

    height: auto;

    list-style-position: inside;
    flex-direction: column;
    text-align: left;

    border: 1px solid #A87A00;
    border-radius: 5px;
    box-shadow: 0 8px 10px #000E42;
}
.dropdown ul{

    list-style-position: inside;
    flex-direction: column;
    text-align: left;
}

.drop-items{
    list-style-type: disc;
}