<main>
  <section id="home">
    
    <div class="content">

      <div id="slogam">

        <h1>Olá pode me chamar de <strong>Jonta Sancar</strong>, ou só <strong>Jonta</strong>.</h1>

        <br>
        <br>

        <p>Desenvolvedor web full stack, brasileiro, utilizando: no front - html, css, javascript; no back - node (em breve novo item).</p>

      </div>

      <img id="signature" src="/assets/signature.svg" alt="Jonta-Sancar">

    </div>

    <div id="skills">
      
      <div class="skill">

        <img src="/assets/skills/html.svg" alt="html5">

        <h3>HTML5</h3>
      </div>

      <div class="skill">

        <img src="/assets/skills/css.svg" alt="css3">

        <h3>CSS3</h3>
      </div>

      <div class="skill">

        <img src="/assets/skills/js.svg" alt="javascript">

        <h3>JS</h3>
      </div>

      <div class="skill">

        <img src="/assets/skills/node.svg" alt="nodejs">

        <h3>NODE-JS</h3>
      </div>
    </div>

  </section>

  <section id="projects">

    <h2>Projetos</h2>
      
      <h3 href="#front">
        <h4>Front</h4>

        <ul class="projects-list">
          
          <li class="project">
            <img src="/assets/projects/leading-page.png" alt="img">

            <div>
              <h4>Página principal / de captura</h4>
              
              <br>

              <a href="#">descrição</a>

              <a href="https://jonta-sancar.github.io/leading-page-model/" target="_blank">acessar</a>
            </div>
          </li>

          <li class="project">
            <img src="/assets/projects/sorte-e-os-nums.png" alt="img">

            <div>
              <h4>Sortê e os - num</h4>
              
              <br>

              <a href="#">descrição</a>

              <a href="https://jonta-sancar.github.io/sorte-e-os" target="_blank">acessar</a>
            </div>
          </li>

        </ul>
      </h3>

      <h3 href="#back">Back</h3>

      <h3 href="#full">
        
        <h4>Full</h4>
        
        <ul>

        <li class="project">
            <img src="/assets/projects/ALEATORIZE.png" alt="img">

            <div>
              <h4>SORTÊ E OS</h4>
              
              <br>

              <a href="#">descrição</a>

              <a href="https://sorteios.vercel.app" target="_blank">acessar</a>
            </div>
          </li>

        </ul>
      </h3>

  </section>
</main>
