<header>
  
  <img src="/assets/signature.svg" alt="Jonta-Sancar">

  <nav>

    <button id="burger" onclick="toggleMenu(this)">
      <span id="barr"></span>
    </button>

    <ul id="nav-ul">

      <li><a class="redirect active" href="/" target="_self" onclick="toActive(this)">início</a></li>

      <li><a class="redirect" href="#projects" target="_self" onclick="toActive(this)">Projetos</a></li>
        
      <li><a class="redirect" href="https://www.linkedin.com/in/jonta-sancar/" target="_blank" onclick="toActive(this)">Linkedin</a></li>

      <li><a class="redirect" href="https://github.com/Jonta-Sancar" target="_blank" onclick="toActive(this)">Github</a></li>

    </ul>
  </nav>

</header>